html, body {
    margin: 0;
    height: 100%;
    background-color: #1F1F1F;
}

.header {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    height: auto;
    background-color: #101010;
}

.headerlogo {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 60%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    padding: 30px;
}

.headerlogo p {
    padding: 100px;
    color: whitesmoke;
    text-decoration: none;
    margin-left: 8%;
    margin-right: 15%;
}

.switch {
    display: block;
    background-color: #0F6936;
    color: #0F6936;
    width: 85px;
    height: 30px;
    font-size: 12px;
    border-style: none;
    border-radius: 4px;
    cursor: pointer;
}

.switch:hover {
    box-shadow: 0 4px 8px 0 rgba(128, 128, 128, 0.2);
    transition-duration: 0.4s;
    border-style: solid;
    border-radius: 4px;
    border-width: 1px;
    border-color: whitesmoke;
    color: whitesmoke;
}

.nav {
    float: right;
    display: flex;
    justify-content: flex-end;
    justify-content: space-around;
    gap: 40px;
    align-items: center;
    width: 40%;
    margin-right: 40px;
}
 
.nav a {
    color: whitesmoke;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    padding: 15px;
    border-radius: 8px;
}
 
.nav a:hover {
    background: grey;
    color: whitesmoke;
}

.bar {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    height: 75px;
    transition-duration: 0.4s;
}

.bar:hover {
    background-color: #82BC41;
    color: #0F6936;
}

.bar a {
    text-align: center;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: whitesmoke;
}
 
.bar p {
    text-align: center;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: whitesmoke;
}

.homebanner {
    background-image: url(https://www.lovethegarden.com/sites/default/files/styles/header_image_xl/public/content/articles/UK_advice-lawn-care-maintenance-lawn-feeding-explained_header.jpg?itok=q4dr1OMk);
    background-size: cover;
    height: 400px;
}

.bannertext {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 400px;
}
.bannertext h1 {
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 40px;
    color: whitesmoke;
}

.homeinfo h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #0F6936;
    text-shadow: 1px 1px grey;
    text-align: center;
    font-size: 35px;
}

.homeinfo h2 {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: black;
    text-shadow: 1px 1px grey;
    text-align: center;
    font-size: 50px;
}

.homeinfo p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #909090;
    text-align: center;
    font-size: 30px;
    line-height: 15px;
    text-shadow: 1px 1px grey;
}

@media screen and (max-width: 600px) {
    .homeinfo h1 {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: #82BC41;
        text-align: center;
        font-size: 25px;
    }
    
    .homeinfo h2 {
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        color: black;
        text-align: center;
        font-size: 30px;
    }
    
    .homeinfo p {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: #101010;
        text-align: center;
        font-size: 20px;
        line-height: 10px;
    }
}

.homepanel {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    justify-content: center;
    align-items: baseline;
    color: whitesmoke;
}

.homepanel1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 400px;
    width: 400px;
}

.homepanel2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 400px;
    width: 400px;
}

.homepanel3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 400px;
    width: 400px;
}

.homepanel p {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 22px;
    text-decoration: none;
    color: grey;
    text-align: center;
}

.pallet {
    display: flex;
    position: relative;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 15%;
    margin-right: 15%;
}

.palletprice {
    text-align: right;
    margin: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: grey;
}

.palletprice h1 {
    font-size: 30px;
    color: whitesmoke;
}

.pallet img {
    height: 340px;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background: #101010;
    color: white;
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.contact {
    margin: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: whitesmoke;
}

.abouttitle {
    font-size: 45px;
    text-align: center;
    text-decoration: none;
    font-family:Arial, Helvetica, sans-serif;
    color: whitesmoke;
}

.about {
    display: flex;
    margin-top: 10%;
    margin-bottom: 10%;
}

.aboutus {
    display: flex;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 50px;
    margin-bottom: 50px;
    color: whitesmoke;
}

.aboutus aside {
    width: 40%;
}

.aboutus p {
    margin: 20px;
    color: grey;
}

.aboutus aside img {
    width: 500px;
}

.why h1 {
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
    color: whitesmoke;
    margin-bottom: 10%;
}

.why img {
    display: none;
}

.whynot {
    display: flex;
    justify-content: space-evenly;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    color: whitesmoke;
}

.whynot p {
    color: grey;
    margin-bottom: 10%;
}

.availability {
    width: 400px;
    text-align: center;
}

.work {
    width: 400px;
    text-align: center;
}

.delivery {
    width: 400px;
    text-align: center;
}

.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    min-height: 600px;
    margin: 2%;
    margin-top: 5%;
    margin-bottom: 5%;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 0 14px 18px 0 rgba(0, 0, 0, 0.2);
    position: relative;
    color: grey;
}

.card:hover {
    box-shadow: 0 18px 18px 0 rgba(15, 105, 54, 0.3);
    transition-duration: 0.4s;
    background-color: #0F0F0F;
}
 
.card img{
    max-width: 300px;
}
 
.info {
    margin: 7%;
}
 
.card a {
    text-decoration: none;
}

.price {
    color: whitesmoke;
    font-size: 22px;
}

.button {
    display: block;
    border: none;
    padding: 14px;
    color: white;
    background-color: #0F6936;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
    position: absolute;
    bottom: 0;
    transition-duration: 0.4s;
}

.button:hover {
    background-color: lightgrey;
    color: #0F6936;
}

.product-page {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    margin: 5%;
}
 
.product-page img {
    max-width: 550px;
    max-height: 550px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
 
.product-info {
    display: flex;
    flex-direction: column;
    max-width: 550px;
    max-height: 550px;
    margin: 20px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}
 
.product-info button {
    display: block;
    background-color: grey;
    padding: 12px;
    border-style: solid;
    border-radius: 6px;
    width: fit-content;
    transition-duration: 0.4s;
    margin-top: 20px;
    margin-bottom: 20px;
}
 
.product-info button:hover {
    background-color: whitesmoke;
    border-color: #82BC41;
}

.product-info p {
    margin-top: 20px;
    margin-bottom: 20px;
}

.product-info a {
    text-decoration: none;
    color: whitesmoke;
}
 
.product-info a:hover {
    color: #101010;
}

.notavailable {
    color: whitesmoke;
}


@media screen and (max-width: 600px){
    .header {
        display: flex;
        justify-content: flex-start;
        width: 100%;
        height: 150px;
    }
    .headerlogo a {
        max-width: 80%;
    }
    .headerlogo img {
        max-width: 100%;
        align-self: flex-end;
    }
    .headerlogo p {
        display: none;
    }
    .nav {
        display: flex;
        justify-content: flex-start;
        justify-content: space-around;
        flex-direction: column;
        align-items: center;
        gap: 0;
        width: 20%;
    }
    .nav a {
        color: grey;
        text-decoration: none;
        font-weight: bold;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 15px;
        padding: 10px;
        border-radius: 8px;
        padding: 5px;
    }
    .bar {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .bar:hover {
        background-color: #0F6936;
        color: whitesmoke;
    }
    .aboutus aside {
        display: none;
    }
    .why img {
        display: block;
        margin-left: 0;
        margin-right: 0;
        max-width: 640px;
        max-height: 40px;
    }
    .pallet img {
        display: none;
    }
    .pallet p {
        text-align: center;
    }
    .pallet h1 {
        text-align: center;
    }
    .product-page {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 5%;
    }
}